# Created by https://www.toptal.com/developers/gitignore/api/vue,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=vue,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

# End of https://www.toptal.com/developers/gitignore/api/vue,visualstudiocode

.DS_Store
node_modules/
/dist
/public

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode