$c-white: #fff;
$c-black: rgba(0, 0, 0, 0);
$c-red-50: #0d0d0d;
$c-red-25: #000000;
$c-navy: #0f0e3d;
$c-text: rgba(0, 0, 0, 0);
$primary-gradient-start: rgba(255,255,255,0);
$primary-gradient-end: #060606;
